<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Aluno", "Index", "Aluno", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inscricoes", "Index", "Inscricoes")</li>
                    <li>@Html.ActionLink("Meus Cursos", "Index", "MeusCursos")</li>
                    <li>@Html.ActionLink("Certificados", "Index", "Certificados")</li>
                    <li>@Html.ActionLink("Dúvidas", "Index", "Forum")</li>
                    <li>@Html.ActionLink("Sair", "Logoff", "Autenticacao")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @if (TempData["mensagem"] != null)
        {
            <div class="alert alert-success">@TempData["mensagem"]</div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-ui.js"></script>

    <script>
        $(function () {
            $(".vervideo").click(function () {

                var id_video = $(this).attr("data-id_video");
                var id_inscricao = $(this).attr("data-id_inscricao");
                

                $("#modal").load("/MeusCursos/VerVideo?id_video=" + id_video + "&&id_inscricao=" + id_inscricao, function () {
                    $("#modal").modal();
                })
            });

            $(".realizarAtividade").click(function () {

                var id_atividade = $(this).attr("data-id_atividade");
                var id_inscricao = $(this).attr("data-id_inscricao");


                $("#modal").load("/MeusCursos/RealizarAtividade?id_atividade=" + id_atividade + "&&id_inscricao=" + id_inscricao, function () {
                    $("#modal").modal();
                })
            });

        })
       
       
    </script>
</body>
</html>