@model List<TCC.CursosOnline.Dominio.Entidades.Usuario>
@{
    ViewBag.Title = "Usuarios";
    
}

<h2>Usuários</h2>
<hr />
<p>
    @Html.ActionLink("Novo Usuário", "CadastroUsuario", "Usuarios", new { @class = "btn btn-success" })
</p>
<table class="table">
   
        <tr>
            <th>
                Id
            </th>
            <th>
                Ativo
            </th>
            <th>
                CPF
            </th>
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
            <th>
                Administrador
            </th>
            <th>
                Editar
            </th>
           
        </tr>
   
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Administrador)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarUsuario", new { id = item.Id_usuario }, new { @class = "btn btn-primary" }) 
                </td>
                
            </tr>

        }
   

</table>





