@model List<TCC.CursosOnline.Dominio.Entidades.Usuario>
@{
    ViewBag.Title = "ListaUsuarios";
    
}

<h2>Lista Usuários</h2>
<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Ativo
        </th>
        <th>
            CPF
        </th>
        <th>
            Nome
        </th>
        <th>
            Telefone
        </th>
        <th>
            Administrador
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrador)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarUsuario", new { id = item.Id_usuario }, null) |
                @Html.ActionLink("Desativar", "DesativarUsuario", new { id = item.Id_usuario }, null)
            </td>
        </tr>
    }

    @Html.ActionLink("Novo", "CadastroUsuario", "Usuarios")

</table>



