@model IEnumerable<TCC.CursosOnline.Dominio.Entidades.Material>

@{
    ViewBag.Title = "Index";
}

<h2>Material Complementar</h2>
<hr />
<h4><strong>Curso:</strong> @ViewData["nome_curso"]</h4>
<br />

<p>
    @Html.ActionLink("Novo Material ", "CadastroMaterial", "Materiais", new { id_curso = @ViewData["id_curso"] }, new { @class = "btn btn-success" })           
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arquivo)
        </th>
        <th>Editar</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arquivo)
        </td>
        <td>
        <td>
            @Html.ActionLink("Editar", "EditarMaterial", new { id = item.Id_materiais }, new { @class = "btn btn-primary" })
        </td>
       
    </tr>
}

</table>

@Html.ActionLink("Voltar", "Index", "Cursos", null, new { @class = "btn btn-info" })