@model TCC.CursosOnline.Dominio.Entidades.MeusCursosViewModel


@{
    ViewBag.Title = "Meus Cursos";
}


<p>
    <h3><strong>@Model.Titulo_curso</strong></h3>
</p>
<hr />

<div class="list-group">
    <ul>
        @foreach (var unidade in Model.ListaUnidade)
            {
            <li>
                <h4><strong>@unidade.Nome</strong></h4>

                <ul>
                    <p><strong>Videos</strong></p>
                    <hr style="margin-top: -10px" />
                    @foreach (var videos in Model.ListaVideos.Where(p => p.Id_Unidade.Equals(unidade.Id_unidade)))
                    {
                    <li  style="list-style-type: none; margin: 5px">

                        @Html.ActionLink(videos.Nome, "VerVideo", new { id_video = videos.Id_video }, new { @class = "btn btn-primary" })

                    </li>
                    }
                </ul>

                <br />
                <br />

                <ul>
                    <p><strong>Atividades</strong></p>
                    <hr style="margin-top: -10px" />
                    @foreach (var atividades in Model.ListaAtividades.Where(p => p.Id_unidade.Equals(unidade.Id_unidade)))
                    {
                        <li  style="list-style-type: none; margin: 5px">

                            @Html.ActionLink(atividades.Titulo, "VerAtividade", new { id_atividade = atividades.Id_atividade }, new { @class = "btn btn-warning" })

                        </li>
                    }
                </ul>

            </li>
            <br />
        }
    </ul>
</div>
<div class="list-group">
    <h4><strong>Material Complementar</strong></h4>
    <hr />
    <ul>
        @foreach (var material in Model.ListaMaterial)
        {
            <li style="list-style:none; margin: 5px;">
                @Html.ActionLink(material.Nome, "VerMaterial", new { id_material = material.Id_materiais }, new { @class = "btn btn-info" })
            </li>
        }
    </ul>
</div>
