@model TCC.CursosOnline.Dominio.Entidades.MeusCursosViewModel


@{
    ViewBag.Title = "Meus Cursos";
}

<div class="modal" id="modal">

</div>

<p>
    <h3><strong>@Model.Titulo_curso</strong></h3> <h5><strong> Andamento:@Model.Andamento</strong></h5> <h5><strong> Nota: @Model.NotaFinal</strong></h5>
</p>
<hr />

<div class="list-group">
    <ul>
        @foreach (var unidade in Model.ListaUnidade)
            {
            <li>
                <h4><strong>@unidade.Nome</strong></h4>
                <hr />
                <ul>
                    <p><strong>Videos</strong></p>
                    <hr style="margin-top: -10px" />
                    @foreach (var videos in Model.ListaVideos.Where(p => p.Id_Unidade.Equals(unidade.Id_unidade)))
                    {
                        <li style="list-style-type: none; margin: 5px">

                            <a class="vervideo text-center" data-id_video="@videos.Id_video" data-id_inscricao="@Model.Id_inscricao" style="cursor:pointer">
                                @videos.Nome
                            </a>

                        </li>
                    }
                </ul>

                <br />
                <br />

                <ul>
                    <p><strong>Atividades</strong></p>
                    <hr style="margin-top: -10px" />
                    @foreach (var atividades in Model.ListaAtividades.Where(p => p.Id_unidade.Equals(unidade.Id_unidade)))
                    {
                        <li style="list-style-type: none; margin: 5px">

                            <a class="realizarAtividade text-center" data-id_atividade="@atividades.Id_atividade" data-id_inscricao="@Model.Id_inscricao" style="cursor:pointer">
                                @atividades.Titulo
                            </a>
                        </li>
                    }
                </ul>

            </li>
            <br />
        }
    </ul>
</div>
<div class="list-group">
    <h4><strong>Material Complementar</strong></h4>
    <hr />
    <ul>
        @foreach (var material in Model.ListaMaterial)
        {
            <li style="list-style:none; margin: 5px;">
                <a href="@material.Arquivo" target="_blank">@material.Nome</a>
            </li>
        }
    </ul>
</div>

