@model TCC.CursosOnline.Dominio.Entidades.AtividadeViewModel

@{
    ViewBag.Title = "";
    Layout = null;
}

@using (Html.BeginForm())
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">@Model.Nome_atividade.ToString()</h4>
            </div>
            <div class="modal-body">

                <div class="list-group">

                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.HiddenFor(model => model.Id)
                        <input type="hidden" name="idResultado" value="@Model.IdResultado" />
                        <input type="hidden" name="IdInscricao" value="@Model.IdInscricao" />

                        <div id="divpergunta">
                            <ul style="list-style-type:decimal; ">
                                @foreach (var questao in Model.ListaQuestoes)
                                {
                                    <input type="hidden" name="QuestaoId" value="@questao.Id_questao" />
                                    <li>
                                        <h5>@questao.Enunciado</h5>
                                        <ul style="list-style-type:upper-alpha">
                                            @foreach (var opcao in Model.ListaOpcoes.Where(p => p.Id_questao.Equals(questao.Id_questao)))
                                            {
                                                <li>
                                                    <input type="radio" class="radio radio-inline" name="OpcaoId" value="@opcao.Id_opcao">@opcao.Descricao

                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <br />
                                }
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnSalvar" value="Salvar e Avançar >>" class="btn btn-info" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
}

    <script type="text/javascript">
        $(document).on("click", "#btnSalvar", function () {
            $.ajax({
                url: '/MeusCursos/RealizarAtividade2',
                data: {
                    OpcaoId: $("input[name=OpcaoId]:checked").val(),
                    QuestaoId: $("#QuestaoId").val()
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.sucesso) {
                        alert('ok');
                    }
                }
            });
        });
    </script>
