@model IEnumerable<TCC.CursosOnline.Dominio.Entidades.Curso>

@{
    ViewBag.Title = "Cursos";
}

<h2>Cursos</h2>
<hr />
<p>

    @Html.ActionLink("Novo Curso", "CadastroCurso", "Cursos", new { @class = "btn btn-success" })
    @Html.ActionLink("Categorias", "Index", "Categorias", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
           Título
        </th>
        <th>
            Categoria
        </th>
        <th>
            Ativo
        </th>
        
        <th>
            Editar
        </th>
        <th>
            Unidades
        </th>
        <th>
            Material Complementar
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
       
        <td>
            @Html.ActionLink("Editar", "EditarCurso", new { id = item.Id_curso }, new { @class = "btn btn-primary" })
         
        </td>
        <td>
           @Html.ActionLink("Unidades", "Index", "Unidades", new { id_curso = item.Id_curso }, new { @class = "btn btn-danger" })       
        </td>
        <td>
            @Html.ActionLink("Material Complementar", "Index", "Materiais", new { id_curso = item.Id_curso }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
