@model IEnumerable<TCC.CursosOnline.Dominio.Entidades.Video>

@{
    ViewBag.Title = "Videos";
}

<h2>Vídeos</h2>
<hr />
<h4>Curso: @ViewData["nome_curso"]</h4>
<h4>Unidade: @ViewData["nome_unidade"]</h4>
<br />

<p>
    @Html.ActionLink("Novo Vídeo", "CadastroVideo", "Videos", new { id_unidade = @ViewData["id_unidade"] }, new { @class = "btn btn-success" }) 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
              
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordem)
        </th>
        <th>Editar</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
              
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ordem)
        </td>
        <td>
           @Html.ActionLink("Editar", "EditarVideo", new { id_video = item.Id_video }, new { @class = "btn btn-primary" }) 
           
        </td>
    </tr>
}

</table>
@Html.ActionLink("Voltar", "Index", "Unidades", new { id_curso = @ViewData["id_curso"] }, new { @class = "btn btn-info" })