@model IEnumerable<TCC.CursosOnline.Dominio.Entidades.Questao>

@{
    ViewBag.Title = "Questões";
}

<h2>Questões</h2>
<hr />
<h4><strong>Curso:</strong> @ViewData["nome_curso"]</h4>
<h4><strong>Unidade:</strong> @ViewData["nome_unidade"]</h4>
<h4><strong>Atividade:</strong> @ViewData["nome_atividade"]</h4>
<br />

<p>
    @Html.ActionLink("Nova Questão", "CadastroQuestao", "Questoes", new { id_atividade = @ViewData["id_atividade"] }, new { @class = "btn btn-success" }) 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enunciado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordem)
        </th>
        <th>Editar</th>
        <th>Opções</th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enunciado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ordem)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarQuestao", new { id_questao = item.Id_questao }, new { @class = "btn btn-primary" }) 
        
        </td>
        <td>
            @Html.ActionLink("Opções", "Index", "Opcoes", new { id_questao = item.Id_questao }, new { @class = "btn btn-danger" })

        </td>
    </tr>
}

</table>
@Html.ActionLink("Voltar", "Index", "Atividades", new { id_unidade = @ViewData["id_unidade"] }, new { @class = "btn btn-info" })